
.board-cell {
    width: 36px;
    height: 36px;
    background-color: white;
    vertical-align: middle;
    cursor: default;
    overflow: hidden;
}

.uncollapsed {
    border-left: 2px solid rgb(228, 228, 228);
    border-top: 2px solid rgb(228, 228, 228);
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    background-color: lightblue;
}

.collapsed {
    border: 1px solid antiquewhite;
    width: 36px;
    height: 36px;
}

.board-cell.uncollapsed:hover {
    background-color: aqua;
}

.board-row {
    height: 36px;
}

.board {
    background-color: antiquewhite;
    margin: 10px auto;
    text-align: center;
    border-spacing: 0px;
    border: 1px solid grey;
    min-width: 260px;
    min-height: 260px;
}
